table {
    border-collapse: collapse;
    width: 100%;

}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:var(--color-light);
}
.gchange{
    color: var(--color-gchange);
}
.rchange{
    color: var(--color-rchange);
}